.side {
  font-family: bebasNeue;
  display: flex;
  flex-direction: column;
  position: relative;
  background: radial-gradient(circle, #eee, #d4d4d4);
  border: 2px solid #000;
}

.sideSup {
  display: grid;
  width: 100%;
  height: min-content;
  grid-template-rows: 3em;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.sideBox {
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideBox:first-child {
  border-left: 0em solid #000;
  border-bottom: 0em solid #000;
}
.side p {
  font-size: 2.3em;
  margin: 0;
}
.sideInf {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.sideInf > p {
  font-size: 4em;
}

.center {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background: radial-gradient(circle, #eee, #d4d4d4);
  width: 12em;
  height: 12em;
  border: 4px solid #000;
  box-shadow: 0 0 2em .5em #eee;
}

.centerSup {
  display: grid;
  width: 100%;
  height: min-content;
  grid-template-rows: 4em;
  grid-auto-columns: 33.333%;
  grid-auto-flow: column;
}

.centerBox {
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerBox:first-child {
  border-left: 0em solid #000;
  border-bottom: 0em solid #000;
}

.centerText {
  font-family: bebasNeue;
  text-align: center;
}

.centerText > p:first-child {
  font-size: 0.9em;
  margin: 0;
}

.centerText > p:last-child {
  font-size: 1.2em;
  margin: 0;
}

.centerInf {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centerInf > p {
  margin: 0;
  font-family: bebasNeue;
  text-align: center;
  font-size: 3.3em;
}
