.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 18em;
  height: 100vw;
  max-height: 80vh;
  width: 100%;
  margin: auto;
  margin-top: -5vh;
  overflow: hidden;
}

h1 {
  font-size: 1rem;
  z-index: 5;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.banner::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  z-index: 15;
  border-radius: 10px;
  filter: blur(28px);
  background-color: #fff;
  opacity: 0;
  transform: translateX(-3em);
}

.banner[isvisible='true']::before {
  animation-name: banner;
  animation-duration: 1s;
  animation-delay: 1.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes banner {
  0% {
    transform: translateX(-3em);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: translateX(19em);
    opacity: 0;
  }
}

.estrellas {
  position: absolute;
  height: 90%;
  top: -5%;
  right: 95%;
  z-index: 10;
  -webkit-filter: drop-shadow(1px 1px 2px #000000);
  filter: drop-shadow(1px 1px 2px #000000);
}

.pin {
  position: absolute;
  top: -30%;
  right: -10%;
  height: 180%;
  opacity: 0;
  -webkit-filter: drop-shadow(1px 1px 2px #000000);
  filter: drop-shadow(1px 1px 2px #000000);
  transform: translateX(-5em);
  transform-origin: bottom right;
}

.pin[isvisible='true'] {
  animation-name: pin;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes pin {
  0% {
    transform: translateX(-6em) rotate(0deg);
  }
  60% {
    opacity: 1;
    transform: translateX(-1.7em) rotate(25deg);
  }
  70% {
    transform: translateX(-1.7em) rotate(16deg);
  }
  80% {
    transform: translateX(-1.7em) rotate(23deg);
  }
  90% {
    transform: translateX(-1.7em) rotate(18deg);
  }
  100% {
    opacity: 1;
    transform: translateX(-1.7em) rotate(20deg);
  }
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0;
  gap: 4em;
  border-top: 5px solid #555;
  border-bottom: 5px solid #555;
  background-image: url('../../assets/images/fondoInicio.webp');
  background-size: cover;
  -webkit-box-shadow: 0 0px 5px 0px #222;
  box-shadow: 0 0px 5px 0px #222;
}

.intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2em;
}

.introText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: bebasNeue;
  font-size: 1.3em;
  text-align: center;
}

.introText:first-child {
  width: 60vw;
  margin: 0;
  max-width: 400px;
}

.introText:last-child {
  width: 80vw;
  margin: 0;
  max-width: 600px;
}

.introTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.3em;
  font-family: bebasNeue;
}

.introSlash {
  height: 3.2em;
  width: 0.2em;
  margin: 0 10px;
  border-radius: 10px;
  background-color: #000;
}

.introTime p {
  margin: 0;
}

.introDays > p {
  text-align: right;
}

.sectionFirst {
  position: relative;
  width: 80vw;
  max-width: 700px;
  padding-left: 5%;
}

.sectionFirst > h2 {
  position: absolute;
  font-family: bebasNeue;
  font-size: 4em;
  left: 0;
  line-height: 80%;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff);
  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff);
  text-transform: uppercase;
  z-index: 10;
}

.sectionFirstData {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  font-size: 1em;
}

.sectionFirstImg {
  position: relative;
  -webkit-box-shadow: 0 0 5px 1px #000;
  box-shadow: 0 0 5px 1px #000;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  -o-transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.sectionFirstImg[isvisible='true'] {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.sectionFirstImg img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.sectionFirst p {
  padding-left: 15%;
  text-align: end;
}

.sectionSecond {
  width: 80vw;
  max-width: 700px;
  position: relative;
  padding-right: 5%;
}

.sectionSecond > h2 {
  position: absolute;
  font-family: bebasNeue;
  text-transform: uppercase;
  font-size: 3.5em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: end;
  right: 0;
  top: -3rem;
  line-height: 90%;
  -webkit-filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff);
  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff);
  z-index: 10;
}

.sectionSecondData {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  font-size: 1em;
}

.sectionSecondImg {
  position: relative;
  -webkit-box-shadow: 0 0 5px 1px #000;
  box-shadow: 0 0 5px 1px #000;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  -o-transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.sectionSecondImg[isvisible='true'] {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.sectionSecondImg img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.sectionSecond p {
  padding-right: 5vw;
}

.sectionThird {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3em;
  width: 95vw;
  max-width: 900px;
}

.sectionThird h2 {
  font-family: bebasNeue;
  text-transform: uppercase;
  font-size: 3.5em;
  -webkit-filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff);
  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff);
}

.sectionThirdImg {
  height: 60vw;
  max-height: 400px;
  aspect-ratio: 9/16;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  -o-transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.sectionThirdImg[isvisible='true'] {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.sectionThirdImg img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.sectionThird p {
  margin: 0;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 2.1rem;
  }
}
